name: find and convert

on: [push]
jobs: 
  find-and-convert:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: convert-md-files
        run: |
          ls -al
          echo "doing the md files"
          find . -name \*.md | sort -nr | xargs -l -i ./script.sh '{}'
    
      - name: convert-mdx-files
        run: |
          echo "doing the mdx files"
          find . -name \*.mdx | sort -nr | xargs -l -i ./script.sh '{}'

      - name: convert-user-specified-files
        run: |
          echo "converting specified files"
      

